*
{
    padding:  0;
    margin: 0;

}
.container-fluid
{
    background-color: rgb(9, 25, 41);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 7px #272727;
}
.nav-item
{
    font-weight: bolder;
    letter-spacing: 2px;
    color: #fff;
}
.nav-link
{
    color: rgba(9, 123, 158, 0.911);
}
.nav-link:visited
{
    
    color: #fff;
}
